@tailwind base;
@tailwind components;
@tailwind utilities;


/* Estilos personalizados */
ul.products {
    @apply text-lg text-negro mb-4 grid grid-cols-4 gap-8;
}

ul.products li{
    @apply border border-gray-200 rounded-lg shadow-md p-3;
}

ul.products li a h2.woocommerce-loop-product__title{
    @apply text-lg text-negro text-center font-ubuntu font-semibold py-3;
}

.description_tab.active,
[class^="wb_cptb_"].active
{
    @apply text-magenta border-magenta;
}

.description_tab.active a,
[class^="wb_cptb_"].active a
{
    @apply text-magenta border-magenta;
}
.woocommerce-Tabs-panel.woocommerce-Tabs-panel--description ,
.woocommerce-Tabs-panel[class*="woocommerce-Tabs-panel--wb_cptb_"] {
    @apply p-8;
}

.woocommerce-Tabs-panel[class*="woocommerce-Tabs-panel--wb_cptb_"] h2.wb_cptb_title {
    @apply hidden;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

#content {
    flex: 1;
}

footer {
    margin-top: auto;
}

.wc_formulario{
    @apply space-y-4
}

.wc_formulario p label {
    @apply font-ubuntu text-gray-900 text-sm block mb-2
}

.wc_formulario p label .required {
    @apply text-magenta
}

.wc_formulario p span input {
    @apply border border-gray-300 rounded-md px-2 py-1 focus:outline-none focus:border-verde text-sm text-gray-700 w-full
}

table.shop_table.woocommerce-checkout-review-order-table{
    @apply hidden
}


.title_ficha .woocommerce-loop-product__title{
    @apply text-gray-900 text-xl text-center py-2
}